@page  "/Shared/ForgotPassword"
@using System.Net.Mail
@using System.Net

@inject IToastService toast
<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <div class="card">
            <div class="card-header">
                <h2>Recuperacion de contraseña</h2>
            </div>

            <p>
                Enviaremos su nueva contraseña a la direccion de correo electronico que proporciono a la hora de registrarlo
                en el sistema, revise su correo entrante en unos minutos. Adicionalmente, verifique la carpeta de SPAM.
            </p>

            <div class="card-body">
                <label for="Nombre">Ingrese su nombre de usuario</label>
                <input type="text" class="form-control" placeholder="Nombre de Usuario" @bind="@Username">
            </div>

            <button type="button" class="btn btn-secondary" @onclick="EnviarMail"><span class="icon-add"></span> Enviar nueva contraseña </button>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    string Username { get; set; }
    ProyectoFinalAp2.Models.Usuarios Usuario;

    private bool CambiarPassword()
    {
        Usuario = ProyectoFinalAp2.Controllers.UsuariosBLL.Buscar(Username);
        bool paso = false;

        if (Usuario == null)
        {
            toast.ShowError("Inexistente", "El nombre de usuario que proporciono no fue encontrado en la base de datos");
            paso = false;
        }
        else
        {
            Usuario.PassWord = "Cl@ve123";

            try
            {
                ProyectoFinalAp2.Controllers.UsuariosBLL.Modificar(Usuario);
                paso = true;
            }
            catch
            {
                paso = false;
            }
        }
        return paso;
    }

    private void EnviarMail()
    {
        if (Username != null)
        {
            if (CambiarPassword())
            {
                if (ProyectoFinalAp2.Controllers.UsuariosBLL.VerificarExistenciaDelUsuario(Username))
                {
                    //instancia de MailMessage con sus parametros configurados
                    MailMessage email = new MailMessage();
                    email.To.Add(new MailAddress(Usuario.Correo));
                    email.From = new MailAddress("eliangarciarguez@gmail.com");
                    email.Subject = "Contraseña Restaurada ( " + DateTime.Now.ToString("dd / MMM / yyy hh:mm:ss") + " ) ";
                    email.Body = "<p>Estimado" + Username + ", le informamos que su contraseña ha sido reestablecida. Su nueva contraseña es: <strong>Cl@ve123</strong> " +
                        "favor cambiar esta contraseña autogenerada en cuanto le sea posible</p>";
                    email.IsBodyHtml = true;
                    email.Priority = MailPriority.High;

                    //instancia de SMTP con sus parametros configurados
                    SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587);
                    smtp.EnableSsl = true;
                    smtp.Credentials = new NetworkCredential("eliangarciarguez@gmail.com", "Garcia5...");

                    try
                    {
                        smtp.Send(email);
                        email.Dispose();
                        toast.ShowInfo("Enviado", "El correo electrónico fue enviado satisfactoriamente.");
                    }
                    catch (Exception ex)
                    {
                        toast.ShowError("Error", "Error enviando correo electrónico: " + ex.Message);
                    }
                }
            }
        }
    }
}