@page  "/Login"
@using ProyectoFinalAp2.Models
@using ProyectoFinalAp2.Controllers
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRunTime
@inject IToastService toast

<EditForm Model="@user">
    <div>
        <img src="/Resources/Logo.jpg" asp-append-version="true" width="300px" />
    </div>

    <div>
        <h3 style="font-weight:bold; color:darkblue">ButterSoft Login</h3>
    </div>

    <label for="Usuario">Nombre de Usuario:</label>
    <div class="col-12 row">
        <input type="text" class="form-control col-12" @bind="user.NombreUsuario" placeholder="Contraseña" />
    </div>
    
    <label for="Contraseña">Contraseña:</label>
    <div class="col-12 row">
        <input type="password" class="form-control col-12" @bind="user.PassWord" placeholder="Contraseña" />
    </div>

    <div class="col-12 row">
        <span class="col-12"></span>
        <input type="submit" class="form-control btn btn-primary" value="Login" />
    </div>
</EditForm>

@code {
    Usuarios user = new Usuarios();

    
}