@page  "/Login"
@using ProyectoFinalAp2.Models
@using ProyectoFinalAp2.Controllers
@using ProyectoFinalAp2.Pages.Login
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Web;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRunTime
@inject IToastService toast

<AuthorizeView>
    <Authorized>
        <b>Hola, @context.User.Identity.Name!</b>
        <a class="ml-md-auto btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>
    <NotAuthorized>
        <input class="form-control mr-3" type="text"
               placeholder="Nombre de Usuario"
               @bind="@Username"/>
        
        <input class="form-control mr-3" type="password"
               placeholder="Contraseña"
               @bind="@Password" />
                     
        <a class="ml-md-auto btn btn-primary"
           href="/login?paramUsername=@encode(@Username)&paramPassword=@encode(@Password)"
           target="_top">Login</a>

    </NotAuthorized>
</AuthorizeView>

@code {
    string Username;
    string Password;
    string message = "Usuario / contraseña incorrectos";

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
}
