@page  "/Login"
@using ProyectoFinalAp2.Models
@using ProyectoFinalAp2.Controllers
@using ProyectoFinalAp2.Pages.Login
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Web;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRunTime
@inject IToastService toast

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../wwwroot/css/Login.css" rel="stylesheet" />

    <style>

        html, body {
            background-image: url('Resources/Background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Lucida Console', sans-serif;
        }

        .container {
            height: 100%;
            align-content: center;
        }

        .card {
            height: 370px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
        }

        .card-header h3 {
            color: white;
        }

        .social_icon span {
            font-size: 60px;
            margin-left: 10px;
            color: #03968d;
        }

            .social_icon span:hover {
                color: white;
                cursor: pointer;
            }

        .login_btn {
            color: black;
            background-color: #2874A6;
        }

            .login_btn:hover {
                color: black;
                background-color: #03968d;
            }

        .input-group-prepend span {
            width: 50px;
            background-color: #03968d;
            color: black;
            border: 0 !important;
        }

        input:focus {
            outline: 0 0 0 0 !important;
            box-shadow: 0 0 0 0 !important;
        }

        .links {
            color: white;
        }

            .links a {
                margin-left: 4px;
            }
    </style>

</head>

<body>
    <AuthorizeView>
        <Authorized>

        </Authorized>
        <NotAuthorized>
            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-end social_icon">
                                <img src="Resources/Logo.jpg" height="100" />
                            </div>

                            <h3>Login</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre de Usuario" @bind="@Username">

                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Contraseña" @bind="@Password">
                                </div>
                                <a class="ml-md-auto btn btn-primary btn-outline-light form-control"
                                   href="/login?paramUsername=@encode(@Username)&paramPassword=@encode(@Password)"
                                   target="_top">Login</a>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center">
                                <a href="/Shared/ForgotPassword">Olvide mi contraseña!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</body>
</html>


@code {
    string Username;
    string Password;
    public static int num = 0;

    protected override void OnInitialized()
    {
        num += 1;

        if(num > 1)
        {
            var r = Mostrar();
        }
    }

    public async Task Mostrar()
    {
        await jsRunTime.Confirmar("top-center", "error", "Intentelo de nuevo", "Usuario y/o contraseña incorrectos", false, 2000);
    }

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
}