@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">

            </div>
        </div>

    </Authorized>

    <NotAuthorized>
        <div class="main">
            <div class="content px-4">
                <Login />
                @Body
            </div>
        </div>
    </NotAuthorized>

</AuthorizeView>

<BlazoredToasts />