@page "/Registros/Productos"
@page "/Registros/Productos/{ProductoId:int}"

@using ProyectoFinalAp2.Models
@using ProyectoFinalAp2.Controllers
@using ProyectoFinalAp2.Data

@inject IToastService toast
@inject IJSRuntime JS

<EditForm Model="productos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header  alert-info">
            <h3>Registro de Productos</h3>
        </div>
        
        <div class="card-body">
            <label for="Id">ID</label>
            <div class="input-group">
                <InputNumber @bind-Value="productos.ProductoId" class="form-control"></InputNumber>
                <ValidationMessage For="(() => productos.ProductoId)"></ValidationMessage>

                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" @onclick="Buscar"><span class="icon-search"></span>Buscar</button>
                </div>
            </div>

            <div class="form-group">
                <label for="FECHA">Fecha</label>
                <InputDate @bind-Value="productos.Fecha" class="form-control"></InputDate>
                <ValidationMessage For="(() => productos.Fecha)"></ValidationMessage>
            </div>

            <label for="CATEGORIAS">Categoria</label>
            <div class="form-group">
                <select class="form-control" @bind="productos.CategoriaiD" @onclick="CargarCategoria">
                    <option value="" disabled selected>Seleccione una Categoria</option>
                    @foreach (var item in CargarCombo())
                    {
                        <option value="@item.CategoriaId">@item.Descripcion</option>
                    }
                </select>
                <ValidationMessage For="(() => productos.CategoriaiD)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="DESCRIPCION">Descripción</label>
                <InputText @bind-Value="productos.Descripcion" class="form-control"></InputText>
                <ValidationMessage For="(() => productos.Descripcion)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="CANTIDAD">Cantidad</label>
                <InputNumber @bind-Value="productos.Cantidad" class="form-control"  readonly="true"></InputNumber>
                <ValidationMessage For="(() => productos.Cantidad)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="REORDEN">Reorden</label>
                <InputNumber @bind-Value="productos.Reorden" class="form-control"></InputNumber>
                <ValidationMessage For="(() => productos.Reorden)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="COSTO">Costo</label>
                <InputNumber @bind-Value="productos.Costo" class="form-control" step="00.2" @onfocusout="@CalcularGanancia"></InputNumber>
                <ValidationMessage For="(() => productos.Costo)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="PRECIO">Precio</label>
                <InputNumber @bind-Value="productos.Precio" class="form-control" step="00.2" @onfocusout="@CalcularGanancia"></InputNumber>
                <ValidationMessage For="(() => productos.Precio)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="GANANCIA">Ganancia</label>
                <InputNumber @bind-Value="productos.Ganancia" class="form-control" step="00.2" readonly="true"></InputNumber>
                <ValidationMessage For="(() => productos.Ganancia)"></ValidationMessage>
            </div>

            <div class="form-group text-center">
                <button type="button" class="btn btn-secondary" @onclick="Nuevo"><span class="icon-add"></span> Nuevo </button>
                <button type="submit" class="btn btn-success"><span class="icon-save"></span> Guardar </button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar"><span class="icon-delete_forever"></span> Eliminar </button>
            </div>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int ProductoId { get; set; }

    Productos productos = new Productos();
    Categorias Categoria = new Categorias();

    protected override void OnParametersSet()
    {
        var id = ProductoId;
        var result = Buscar(id);
    }

    protected override void OnInitialized()
    {
        Nuevo();
        var s = Buscar();
        CargarCombo();
    }

    private void CargarCategoria()
    {
        try
        {
            Categoria = CategoriasBLL.Buscar(Convert.ToInt32(productos.CategoriaiD));
        }
        catch (Exception ex)
        {
            toast.ShowError(ex.ToString(), "Error");
        }
    }

    private List<Categorias> CargarCombo()
    {
        List<Categorias> lista = new List<Categorias>();
        lista = CategoriasBLL.GetList(p => true);

        return lista;
    }

    private void CalcularGanancia()
    {
        if (productos.Precio > 0 & productos.Costo > 0)
        {
            productos.Ganancia = productos.Precio - productos.Costo;
        }
    }

    private void Nuevo()
    {
        productos = new Productos();
    }

    private bool Existe()
    {
        var lista = ProductosBLL.GetList(p => true);
        bool paso = false;

        foreach (var producto in lista)
        {
            if (producto.Descripcion == productos.Descripcion)
            {
                return paso = true;
            }
        }

        return paso;
    }

    private async Task Guardar()
    {
        if (!Existe())
        {
            bool guardado = ProductosBLL.Guardar(productos);

            if (guardado)
            {
                await JS.Confirmar("top-center", "success", "Guardado Exitosamente", "Buen trabajo", false, 2000);
                Nuevo();
            }
            else
            {
                await JS.Confirmar("top-center", "error", "Error", "No se pudo guardar el producto", false, 2000);
            }
        }
        else
        {
            await JS.Confirmar("top-center", "error", "Error", "Ya existe un usuario con este descripcion", false, 2000);
        }
    }

    private async Task Eliminar()
    {
        bool eliminado;
        Context db = new Context();

        if (productos.Cantidad > 0)
        {
            await JS.Confirmar("top-center", "error", "Sorry!", "No puedes eliminar este producto porque aun hay algunos en stock", false, 2000);
        }
        else
        {
            if (await JS.ConfirmDelete("Confirmar", "¿Esta seguro que desea eliminar este producto?", "question"))
            {
                eliminado = ProductosBLL.Eliminar(productos.ProductoId);

                if (eliminado)
                {
                    Nuevo();
                    await JS.Confirmar("top-center", "success", "Eliminado", "Eliminado correctamente", false, 2000);
                }
                else
                {
                    await JS.Confirmar("top-center", "error", "Error", "No se pudo eliminar", false, 2000);
                }
            }
        }
    }

    private async Task Buscar()
    {
        if (productos.ProductoId > 0)
        {
            var Encontrado = ProductosBLL.Buscar(productos.ProductoId);

            if (Encontrado != null)
            {
                this.productos = Encontrado;
            }
            else
            {
                await JS.Confirmar("top-center", "error", "Error", "No se encontró el producto", false, 2000);
            }
        }
    }

    private async Task Buscar(int ProductoId)
    {
        if (ProductoId > 0)
        {
            var Encontrado = ProductosBLL.Buscar(ProductoId);

            if (Encontrado != null)
            {
                this.productos = Encontrado;
            }
            else
            {
                await JS.Confirmar("top-center", "error", "Error", "No se encontró el producto", false, 2000);
            }
        }
    }
}