@page "/ConsultaCategorias"
@page "/ConsultaCategorias/{numPagina:int}"

@inject IToastService toast

@using ProyectoFinalAp2.Models
@using ProyectoFinalAp2.Controllers
@using ProyectoFinalAp2.Paginacion
@using System.Linq.Expressions
@using System.IO;
@using ProyectoFinalAp2.Data;
@inject Microsoft.JSInterop.IJSRuntime JS
@inject ExportService exportService

<div class="card">
    <div class="card-header  alert-info">
        <div class="text-center">
            <img src="Resources/favicon.ico" height="90" />
        </div>

        <div class="text-center">
            <h3 class="text-center text-black-50">Consulta de Categorias</h3>
        </div>
    </div>

    <div class="card-body">
        <div class="form-row">
            <div class="col">
                <label for="filtro">Filtro: </label>
                <select class="form-control" @bind="filtro">
                    <option value="" disabled selected>Seleccione un filtro</option>
                    <option value="1">TODO</option>
                    <option value="2">ID</option>
                    <option value="3">DESCRIPCION</option>
                </select>
            </div>

            <div class="form-group col">
                <label for="criterio"> Criterio: </label>
                <input type="text" class="form-control" @bind="criterio" />
            </div>

            <div class="form-group col mt-1">
                <br />
                <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
            </div>
        </div>

        <table class="table mb-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.CategoriaId</td>
                        <td>@item.Descripcion</td>
                        <td><a class="btn btn-outline-info" href="Categorias/@item.CategoriaId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <label>CANTIDAD DE CATEGORIAS</label>
            <input type="number" @bind="cantidadDeCategorias" class="form-control" readonly />
        </div>

        <div class="form-group">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= cantidadDePaginas; i++)
                {
                    <li class="page-item Azul"><a class="page-link Azul" @onclick="SaltarPagina" href="ConsultaCategorias/@i">@i</a></li>
                }
                <li class="page-item text-black-50"><a class="page-link text-black-50" @onclick="Salto"> ► </a></li>
            </ul>
        </div>

    </div>

    <div class="card-footer">
        <div class="form-group">
            <button type="button" class="btn btn-outline-primary form-control" @onclick="ExportToPdf">Exportar a PDF</button>
        </div>

    </div>
</div>

@code {

    [Parameter]
    public int numPagina { get; set; }

    private double cantidadDePaginas { get; set; } = 0;
    private double cantidadDeLista { get; set; } = 0;
    private int contador { get; set; }
    Paginas pagina = new Paginas();

    List<Categorias> lista = new List<Categorias>();
    private int filtro = 0;
    private string criterio = string.Empty;
    private int cantidadDeCategorias = 0;
    public List<Categorias> auxCategoriaLista = new List<Categorias>();


    private void ContarPaginas(Expression<Func<Categorias, bool>> expression)
    {
        cantidadDeLista = CategoriasBLL.GetList(expression).Count();
        cantidadDePaginas = Math.Ceiling(cantidadDeLista / pagina.mostrarCantidad);
    }

    private void TomarPaginas(Expression<Func<Categorias, bool>> expression)
    {
        lista = CategoriasBLL.GetList(expression);
        this.lista = CategoriasBLL.GetList(expression).Take(pagina.mostrarCantidad).ToList();
    }

    private void SaltarPagina()
    {
        contador = numPagina - 1;
        Salto();
    }

    private void Salto()
    {
        contador += pagina.pagina;
        contador = (contador >= cantidadDePaginas) ? 0 : contador;

        if (filtro == 1)
        {
            this.lista = CategoriasBLL.GetList(p => true).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
        if (filtro == 2)
        {
            int id = GetAuxId();
            this.lista = CategoriasBLL.GetList(p => p.CategoriaId == id).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
        if (filtro == 3)
        {
            this.lista = CategoriasBLL.GetList(p => p.Descripcion==criterio).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }

    }

    private void Paginar(Expression<Func<Categorias, bool>> expression)
    {
        ContarPaginas(expression);
        TomarPaginas(expression);
        SaltarPagina();
    }

    private async Task Buscar()
    {
        try
        {
            if (criterio== string.Empty)
            {
                this.lista = CategoriasBLL.GetList(c => true);
                Paginar(p => true);
                CargarParaExportar();
            }
            else
            {
                if (filtro != 0)
                {
                    switch (filtro)
                    {
                        case 1: //Todos
                            this.lista = CategoriasBLL.GetList(c => true);
                            Paginar(p => true);
                            CargarParaExportar();
                            break;
                        case 2: //Id
                            int ID = await GetId();
                            this.lista = CategoriasBLL.GetList(c => c.CategoriaId == ID);
                            Paginar(p => p.CategoriaId == ID);
                            CargarParaExportar();
                            break;
                        case 3: //descripcion
                            this.lista = CategoriasBLL.GetList(c => c.Descripcion == criterio);
                            Paginar(p => p.Descripcion == criterio);
                            CargarParaExportar();
                            break;
                    }
                }
                else
                {
                    await JS.Confirmar("top-center", "info", "Aviso", "Debe seleccionar un filtro", false, 2000);
                }


                this.auxCategoriaLista = lista;
            }
            if (lista.Count() == 0)
            {
                await JS.Confirmar("top-center", "info", "Aviso", "No se ha encontrado categorias.", false, 2000);
            }
            CalcularCantidad();
        }
        catch (Exception)
        {

            throw;
        }
    }

    protected async Task ExportToPdf()
    {
        if(auxCategoriaLista.Count == 0 || auxCategoriaLista == null)
        {
            await JS.Confirmar("top-center", "info", "Aviso", "No hay anda para exportar", false, 2000);
        }
        else
        {
            using (MemoryStream excelStream = ExportService.CreatePdfCategorias(auxCategoriaLista, DateTime.Now.ToString(), cantidadDeCategorias.ToString()))
            {
                await JS.SaveAs("Categorias.pdf", excelStream.ToArray());
            }
        }

    }


    private async Task<int> GetId()
    {
        int resultado = 0;

        try
        {
            resultado = Convert.ToInt32(criterio);
            return resultado;
        }
        catch (Exception)
        {

            await JS.Confirmar("top-center", "error", "Error", "El Id debe ser numerico", false, 2000);
        }

        return resultado;
    }

    private int GetAuxId()
    {
        int resultado = 0;

        try
        {
            resultado = Convert.ToInt32(criterio);
            return resultado;
        }
        catch (Exception)
        {
        }

        return resultado;
    }

    private void CargarParaExportar()
    {
        if (filtro == 1 || filtro==0)
        {
            this.auxCategoriaLista = CategoriasBLL.GetList(p => true);
        }
        if (filtro == 2)
        {
            int id = GetAuxId();
            this.auxCategoriaLista = CategoriasBLL.GetList(p => p.CategoriaId == id);
        }
        if (filtro == 3)
        {
            this.auxCategoriaLista = CategoriasBLL.GetList(p => p.Descripcion == criterio);
        }
    }

    private void CalcularCantidad()
    {
        cantidadDeCategorias = auxCategoriaLista.Count();
    }

}
