@page "/Consultas/Usuarios"

@inject IToastService toast

@using ProyectoFinalAp2.Models;
@using ProyectoFinalAp2.Controllers;

<EditForm Model="lista" OnValidSubmit="Imprimir">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header alert-info">
            <div class="text-center">
                <img src="Resources/favicon.ico" height="90" />
            </div>

            <div class="text-center">
                <h3 class="text-center text-black-50">Consulta de Productos</h3>
            </div>
        </div>

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <br />
                    <input class="align-self-center" type="checkbox" @bind-value="BuscarFecha" id="defaultCheck1">
                    <label for="DesdeFecha">Filtrar por fecha</label>
                </div>

                @if (BuscarFecha)
                {
                    <div class="form-group col">
                        <label for="DesdeFecha">Desde: </label>
                        <input id="DesdeFecha" type="date" @bind-value="DesdeFecha" class="form-control" input />
                    </div>

                    <div class="form-group col">
                        <label for="HastaFechaInput" class="mr-3">Hasta: </label>
                        <input type="date" Id="HastaFechaInput" @bind-value="HastaFecha" class="form-control" />
                    </div>
                }

                <div class="form-group col">
                    <label for="filtro">Filtro: </label>
                    <select class="form-control" @bind="Filtro">
                        <option value="" disabled selected>Seleccione un filtro</option>
                        <option value="Todo">Todo</option>
                        <option value="Id">ID</option>
                        <option value="Descripcion">Nombre</option>
                        <option value="Descripcion">Nombre de Usuario</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="criterio"> Criterio: </label>
                    <input type="search" class="form-control" @bind-value="Criterio" />
                </div>

                <div class="form-group col mt-1">
                    <br />
                    <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
                </div>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Nombre de Usuario</th>
                            <th>Fecha de Ingreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lista)
                        {
                            <tr>
                                <td>@item.UsuarioId</td>
                                <td>@item.Nombres</td>
                                <td>@item.NombreUsuario</td>
                                <td>@item.FechaIngreso</td>
                                <td><a class="btn btn-outline-info" href="Articulos/@item.UsuarioId">Ver</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary form-control" @onclick="Imprimir">Imprimir</button>
        </div>
    </div>
</EditForm>

@code {

    private List<Usuarios> lista { get; set; }

    private string Filtro { get; set; }
    private string Criterio { get; set; }
    public string mensaje;
    public bool BuscarFecha = false;
    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }


    protected override void OnInitialized()
    {
        lista = new List<Usuarios>();
        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
    }

    private void Imprimir()
    {

    }

    private void Buscar()
    {
        try
        {
            if (Filtro == null)
            {
                toast.ShowWarning("Debe seleccionar un Filtro", "Aviso");
            }
            else
            {
                lista = UsuariosBLL.GetList(a => true);

                if (lista.Count == 0)
                {
                    toast.ShowWarning("No hay Usuarios registrados", "Aviso");
                }
                else
                {
                    mensaje = "";
                    switch (Filtro)
                    {
                        case "Todo":
                            lista = UsuariosBLL.GetList(e => true);
                            break;
                        case "ID":
                            lista = UsuariosBLL.GetList(e => e.UsuarioId == Convert.ToInt32(Criterio));
                            break;
                        case "Nombre":
                            lista = UsuariosBLL.GetList(e => e.Nombres == Criterio);
                            break;
                        case "Nombre De Usuario":
                            lista = UsuariosBLL.GetList(e => e.NombreUsuario == Criterio);
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = UsuariosBLL.GetList(p => p.FechaIngreso >= DesdeFecha.Date && p.FechaIngreso <= HastaFecha.Date);
                    }
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}